openapi: 3.1.0
info:
  title: WyvStudio Developer API
  version: "1.0"
  description: |
    Quote, create, watch and fetch short videos. Spending is quote-bound:
    POST /quotes returns a quote_id (valid 10 minutes); POST /videos requires it.
    Auth: `Authorization: Bearer wyv_live_…` (API key) or an OAuth access token.
  contact:
    email: hello@wyvstudio.com
  license:
    name: Proprietary
    url: https://wyvstudio.com/terms
servers:
  - url: https://app.wyvstudio.com/api/developer/v1
security:
  - bearer: []
tags:
  - name: videos
    description: Quote, create, watch and fetch videos.
paths:
  /videos/{videoId}/delivery/handoff:
    post:
      operationId: prepareDelivery
      summary: Validate an export and hand off delivery confirmation to the app
      description: Does not publish, send email, create a share link or schedule a post. The app does not automatically select or pin the reviewed export; verify it again before confirming delivery.
      parameters:
        - name: videoId
          in: path
          required: true
          schema: { type: integer }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [action, revision, export_id]
              properties:
                action: { type: string, enum: [public_share, approval_request, schedule] }
                revision: { type: string }
                export_id: { type: integer, minimum: 1 }
                allow_stale: { type: boolean, default: false, description: Explicit acknowledgement of an older or stale export. }
      responses:
        '200':
          description: Handoff required. external_action_completed is false; app_url and confirmation_required_in_app describe the next step.
        '402':
          description: Scheduling unavailable on this plan.
        '403':
          description: Caller cannot perform this workspace action.
        '404':
          description: Project not found in the caller workspace.
        '409':
          description: Revision conflict, invalid export, output not ready or stale export without acknowledgement.
        '422':
          description: Invalid input.
  /ugc/reference:
    post:
      operationId: analyzeUgcReference
      summary: Read owned video or audio into UGC planning shape and beats
      tags: [videos]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [asset_id]
              properties:
                asset_id: { type: integer, minimum: 1 }
      responses:
        "200": { description: Reference shape and beats for the planner; not a restyle contract }
        "422": { description: Unusable or inaccessible reference }
  /ugc/characters/{characterId}/preview/quotes:
    parameters:
      - { in: path, name: characterId, required: true, schema: { type: integer } }
    post:
      operationId: quotePresenterPreview
      summary: Quote an illustrative presenter portrait with likeness consent
      tags: [videos]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [consent]
              properties:
                consent: { type: boolean, const: true }
      responses:
        "201": { description: Quote and price; no guarantee of final video identity }
        "422": { description: Consent required }
        "404": { description: Character inaccessible }
  /ugc/characters/{characterId}/preview:
    parameters:
      - { in: path, name: characterId, required: true, schema: { type: integer } }
    post:
      operationId: createPresenterPreview
      summary: Generate or replay the approved presenter portrait
      tags: [videos]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [quote_id, idempotency_key]
              properties:
                quote_id: { type: string, maxLength: 32 }
                idempotency_key: { type: string, maxLength: 128 }
      responses:
        "200": { description: Preview asset and fresh signed URL }
        "202": { description: Original request still unresolved; do not replace it }
        "402": { description: Insufficient balance or spending allowance }
        "409": { description: Character or quote changed }
        "410": { description: Quote expired or prior preview deleted }
  /capabilities:
    get:
      operationId: getCapabilities
      summary: Plan, balance, limits, supported inputs and prices
      tags: [videos]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CapabilitiesResponse" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
  /voices:
    get:
      operationId: listVoices
      summary: Narration voices this workspace may use, with cost per scene
      tags: [videos]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/VoicesResponse" }
        "401": { $ref: "#/components/responses/Unauthorized" }
    post:
      operationId: saveVoice
      summary: Save or reuse an accessible workspace voice profile
      tags: [videos]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, voice_id]
              properties:
                name: { type: string, maxLength: 80 }
                voice_id: { type: string, maxLength: 150 }
      responses:
        "200": { description: Saved or reused voice; string id and numeric voice_profile_id }
        "404": { description: Voice not accessible }
  /voices/clone:
    post:
      operationId: cloneVoice
      summary: Register a zero-shot voice sample with consent and plan allowance
      tags: [videos]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, source_asset_id, consent]
              properties:
                name: { type: string, maxLength: 80 }
                source_asset_id: { type: integer }
                consent: { type: boolean, const: true }
      responses:
        "201": { description: Active voice registered synchronously; no training job }
        "200": { description: Existing clone reused for the original source asset }
        "402": { description: Plan clone allowance reached }
        "422": { description: "Invalid sample, missing consent or sample conversion failed" }
  /voices/preview:
    post:
      operationId: previewVoice
      summary: Fixed cached preview; cloned voices play the original source sample
      tags: [videos]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [voice_id]
              properties:
                voice_id: { type: string, maxLength: 150 }
      responses:
        "200": { description: preview_url and preview_kind (source_sample or synthetic_sample); no customer credit debit }
        "404": { description: Voice not accessible }
        "422": { description: Preview failed }
  /assets:
    post:
      operationId: uploadAsset
      summary: Upload workspace media; MIME checked from bytes; no remote URL imports
      tags: [videos]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [title, asset_type, content_base64]
              properties:
                title: { type: string, maxLength: 255 }
                asset_type: { type: string, enum: [image, audio, music, sound, video] }
                content_base64: { type: string, maxLength: 11184812, description: At most 8 MiB decoded }
          multipart/form-data:
            schema:
              type: object
              required: [title, asset_type, asset_file]
              properties:
                title: { type: string, maxLength: 255 }
                asset_type: { type: string, enum: [image, audio, music, sound, video] }
                asset_file: { type: string, format: binary, description: At most 100 MiB; proxy/PHP limits also apply }
      responses:
        "201": { description: "Asset created; poll GET /assets/{id} for transcription status" }
        "422": { description: "Invalid type, size or bytes" }
  /assets/{assetId}:
    get:
      operationId: getAsset
      summary: Read an owned asset and transcription status
      tags: [videos]
      parameters:
        - { in: path, name: assetId, required: true, schema: { type: integer } }
      responses:
        "200": { description: "Asset with URL, transcript and audio attachment readiness" }
        "404": { description: Asset not in this workspace }
  /options:
    get: { operationId: getOptions, summary: Option keys for quotes, tags: [videos], responses: { "200": { description: OK } } }
  /brand-kits:
    get: { operationId: listBrandKits, summary: The workspace's brand kits, tags: [videos], responses: { "200": { description: OK } } }
  /channels:
    get: { operationId: listChannels, summary: The workspace's channels, tags: [videos], responses: { "200": { description: OK } } }
  /niches:
    get: { operationId: listNiches, summary: Content niches with defaults, tags: [videos], responses: { "200": { description: OK } } }
  /caption-presets:
    get: { operationId: listCaptionPresets, summary: The workspace's caption presets, tags: [videos], responses: { "200": { description: OK } } }
  /characters:
    get: { operationId: listCharacters, summary: The workspace's active characters, tags: [videos], responses: { "200": { description: OK } } }
  /library:
    get:
      operationId: listLibrary
      summary: Library assets by type
      tags: [videos]
      parameters:
        - { in: query, name: type, required: true, schema: { type: string, enum: [image, music, video, audio, sound] } }
        - { in: query, name: page, schema: { type: integer, minimum: 1 } }
        - { in: query, name: q, schema: { type: string, maxLength: 120 } }
      responses: { "200": { description: OK } }
  /quotes:
    post:
      operationId: createQuote
      summary: Price a video (free) and get a quote_id
      tags: [videos]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/QuoteRequest" }
      responses:
        "201":
          description: Quote created
          content:
            application/json:
              schema: { $ref: "#/components/schemas/QuoteResponse" }
        "422": { $ref: "#/components/responses/Invalid" }
        "429": { $ref: "#/components/responses/RateLimited" }
  /videos:
    post:
      operationId: createVideo
      summary: Start the video a quote described (spends credits, up to the quote's max)
      tags: [videos]
      parameters:
        - in: header
          name: Idempotency-Key
          required: false
          schema: { type: string, maxLength: 128 }
          description: "Alternative to the idempotency_key body field."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [quote_id]
              properties:
                quote_id: { type: string, example: q_01m3c2zmwvz55c7r9bbb4zk3m4 }
                idempotency_key: { type: string, maxLength: 128, description: "A retry with the same key returns the same video." }
      responses:
        "202":
          description: Video started
          content:
            application/json:
              schema: { $ref: "#/components/schemas/VideoCreatedResponse" }
        "200":
          description: Replay of an earlier create with the same idempotency key
          content:
            application/json:
              schema: { $ref: "#/components/schemas/VideoCreatedResponse" }
        "402":
          description: insufficient_credits or key_spend_cap_reached
          content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } }
        "404":
          description: quote_not_found
          content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } }
        "409":
          description: quote_consumed or idempotency_key_reused
          content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } }
        "410":
          description: quote_expired
          content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } }
        "429":
          description: too_many_active_videos or rate_limited
          content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } }
  /videos/{videoId}:
    get:
      operationId: getVideoStatus
      summary: Progress of a video
      tags: [videos]
      parameters:
        - { in: path, name: videoId, required: true, schema: { type: integer } }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/VideoStatusResponse" }
        "404": { $ref: "#/components/responses/NotFound" }
  /videos/{videoId}/project:
    get: { operationId: getProject, summary: Editable state of a video with its revision, tags: [videos], parameters: [{ in: path, name: videoId, required: true, schema: { type: integer } }], responses: { "200": { description: OK } } }
  /videos/{videoId}/project/schema:
    get: { operationId: getProjectSchema, summary: Operations and settings available on this video, tags: [videos], parameters: [{ in: path, name: videoId, required: true, schema: { type: integer } }], responses: { "200": { description: OK } } }
  /videos/{videoId}/proposals:
    post: { operationId: proposeEdits, summary: Validate and price a list of changes (free), tags: [videos], parameters: [{ in: path, name: videoId, required: true, schema: { type: integer } }], responses: { "201": { description: Proposal created }, "409": { description: revision_conflict } } }
  /videos/{videoId}/proposals/{proposalId}/apply:
    post: { operationId: applyEdits, summary: Apply a proposal (spends up to its total), tags: [videos], parameters: [{ in: path, name: videoId, required: true, schema: { type: integer } }, { in: path, name: proposalId, required: true, schema: { type: string } }], responses: { "200": { description: Applied with per-change results }, "409": { description: revision_conflict or quote_consumed } } }
  /videos/{videoId}/exports:
    get: { operationId: listExports, summary: Exports of a video, tags: [videos], parameters: [{ in: path, name: videoId, required: true, schema: { type: integer } }], responses: { "200": { description: OK } } }
    post: { operationId: exportVideo, summary: Render a new export, tags: [videos], parameters: [{ in: path, name: videoId, required: true, schema: { type: integer } }], responses: { "202": { description: Started } } }
  /videos/{videoId}/retry:
    post: { operationId: retryVideo, summary: Retry or resume a failed video, tags: [videos], parameters: [{ in: path, name: videoId, required: true, schema: { type: integer } }], responses: { "202": { description: Retried } } }
  /assistant/tools:
    get: { operationId: listAssistantTools, summary: What the in-app assistant can do, tags: [videos], responses: { "200": { description: OK } } }
  /videos/{videoId}/assistant/plans:
    post: { operationId: planWithAssistant, summary: Ask the in-app assistant to plan an edit (free), tags: [videos], parameters: [{ in: path, name: videoId, required: true, schema: { type: integer } }], responses: { "201": { description: Plan created }, "200": { description: Nothing resolvable } } }
  /videos/{videoId}/assistant/plans/{planId}/apply:
    post: { operationId: applyAssistantPlan, summary: Apply an assistant plan (spends up to its total), tags: [videos], parameters: [{ in: path, name: videoId, required: true, schema: { type: integer } }, { in: path, name: planId, required: true, schema: { type: string } }], responses: { "200": { description: Applied with per-action results }, "409": { description: revision_conflict or quote_consumed } } }
  /videos/{videoId}/result:
    get:
      operationId: getVideoResult
      summary: The finished MP4 as a private, expiring link
      tags: [videos]
      parameters:
        - { in: path, name: videoId, required: true, schema: { type: integer } }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/VideoResultResponse" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409":
          description: not_ready — poll status until completed
          content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } }
components:
  securitySchemes:
    bearer:
      type: http
      scheme: bearer
  responses:
    Unauthorized:
      description: Missing, invalid, expired or revoked credential
      content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } }
    Forbidden:
      description: api_access_not_on_plan, workspace_suspended, api_key_forbidden_path
      content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } }
    NotFound:
      description: Not in this workspace
      content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } }
    Invalid:
      description: validation_failed, invalid_source_content or plan_duration_exceeded
      content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } }
    RateLimited:
      description: rate_limited; see Retry-After
      content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } }
  schemas:
    Error:
      type: object
      properties:
        error:
          type: object
          required: [code, message]
          properties:
            code: { type: string }
            message: { type: string }
            context: { type: object, additionalProperties: true }
    QuoteRequest:
      type: object
      required: [source_type, content, visual_mode]
      properties:
        source_type: { type: string, enum: [prompt, script, url, product_description, images] }
        image_asset_ids: { type: array, items: { type: integer }, minItems: 1, maxItems: 15, description: "images source only" }
        visual_style: { type: string, description: "AI modes only; a key from GET /options" }
        custom_visual_style: { type: string, maxLength: 500 }
        audiogram: { type: object, properties: { style: { type: string }, color: { type: string }, bg: { type: string } } }
        brand_kit_id: { type: integer }
        channel_id: { type: integer }
        niche_id: { type: integer }
        character_id: { type: integer }
        music_asset_id: { type: integer }
        languages: { type: array, items: { type: string }, minItems: 1, maxItems: 5 }
        platform_target: { type: string }
        allow_script_edit: { type: boolean }
        content: { type: string, minLength: 10, maxLength: 10000 }
        visual_mode: { type: string, enum: [stock, ai_images, ai_video, waveform] }
        duration_seconds: { type: integer, minimum: 5, maximum: 600, default: 60 }
        animate_tier: { type: string, enum: [quick, balanced, premium, seedance_lite, seedance_pro, veo_fast, seedance_25], description: "Required for ai_video, forbidden otherwise." }
        animation_pacing: { type: string, enum: [short, long] }
        aspect_ratio: { type: string, enum: ["9:16", "1:1", "16:9"], default: "9:16" }
        tone: { type: string, maxLength: 64 }
        title: { type: string, maxLength: 255 }
        content_goal: { type: string, maxLength: 255 }
        voice_id: { type: string, maxLength: 255, description: "A voice id from GET /voices; omit for the default voice." }
    Voice:
      type: object
      properties:
        id: { type: string }
        name: { type: string }
        language: { type: [string, "null"] }
        accent: { type: [string, "null"] }
        gender: { type: [string, "null"] }
        is_cloned: { type: boolean }
        is_workspace_voice: { type: boolean }
        engine: { type: string }
        cost_per_scene: { type: integer }
    VoicesResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            default_voice_id: { type: string }
            voices: { type: array, items: { $ref: "#/components/schemas/Voice" } }
    Credits:
      type: object
      properties:
        min: { type: integer }
        max: { type: integer }
        mid: { type: integer }
        breakdown:
          type: object
          properties:
            script_and_breakdown: { type: integer }
            visual_per_scene: { type: integer }
            voice_per_scene: { type: integer }
            export: { type: integer }
    QuoteResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            quote_id: { type: string }
            credits: { $ref: "#/components/schemas/Credits" }
            scenes: { type: object, properties: { min: { type: integer }, max: { type: integer } } }
            balance: { type: integer }
            can_afford: { type: boolean, description: "Balance covers credits.max" }
            shortage: { type: integer }
            expires_at: { type: string, format: date-time }
            voice: { oneOf: [{ $ref: "#/components/schemas/Voice" }, { type: "null" }] }
            chosen: { type: [object, "null"], additionalProperties: true, description: "Resolved brand kit, channel, niche, character, music and image count, by name" }
            request: { $ref: "#/components/schemas/QuoteRequest" }
    VideoCreatedResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            video:
              type: object
              properties:
                id: { type: integer }
                status: { type: string, enum: [generating, exporting, completed, failed] }
                quote_id: { type: string }
                credits: { type: object, properties: { authorized_max: { type: integer } } }
                project_url: { type: string, format: uri }
    VideoStatusResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            video:
              type: object
              properties:
                id: { type: integer }
                status: { type: string, enum: [generating, exporting, completed, failed] }
                title: { type: [string, "null"] }
                stage:
                  type: object
                  properties:
                    current: { type: [string, "null"] }
                    message: { type: [string, "null"] }
                    stages: { type: object, additionalProperties: { type: string } }
                failure:
                  type: [object, "null"]
                  properties:
                    message: { type: string }
                    stage: { type: [string, "null"] }
                    retryable: { type: boolean }
                credits: { type: object, properties: { authorized_max: { type: [integer, "null"] }, spent: { type: integer } } }
                retry_after_seconds: { type: [integer, "null"] }
                project_url: { type: string, format: uri }
    VideoResultResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            video:
              type: object
              properties:
                id: { type: integer }
                status: { type: string, const: completed }
                title: { type: [string, "null"] }
                download_url: { type: string, format: uri, description: "Private, signed, expires" }
                download_expires_at: { type: string, format: date-time }
                file_name: { type: string }
                aspect_ratio: { type: string }
                duration_seconds: { type: [number, "null"] }
                credits: { type: object, properties: { spent: { type: integer } } }
                project_url: { type: string, format: uri }
    CapabilitiesResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            plan: { type: string }
            credits: { type: object, properties: { balance: { type: integer } } }
            limits:
              type: object
              properties:
                max_duration_seconds: { type: [integer, "null"] }
                exports_remaining_this_month: { type: [integer, "null"] }
                quote_ttl_minutes: { type: integer }
                max_active_videos: { type: integer }
                requests_per_minute: { type: object, properties: { reads: { type: integer }, writes: { type: integer } } }
            key:
              type: [object, "null"]
              properties:
                name: { type: string }
                expires_at: { type: [string, "null"], format: date-time }
                spend_cap_credits: { type: [integer, "null"] }
                spent_this_month: { type: integer }
            video:
              type: object
              properties:
                source_types: { type: array, items: { type: string } }
                visual_modes: { type: array, items: { type: string } }
                animate_tiers: { type: array, items: { type: string } }
                animation_pacing: { type: array, items: { type: string } }
                aspect_ratios: { type: array, items: { type: string } }
                duration_seconds: { type: object, properties: { min: { type: integer }, max: { type: integer }, default: { type: integer } } }
                language_default: { type: string }
            costs: { type: object, additionalProperties: true }
